body {
  display: block;
  text-align: center;
  width: 800px;
  background-color: #f9e8a6;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

li {
  margin: 0;
}

img {
  max-width: 100%;
  border-radius: 4px;
  margin: 0 auto;
}

a {
  color: green;
}
